html {
    height: 100%;
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}
